/* Include Foundation */
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;
$small_screen: 600px;
$med_screen: 700px;

body {
    background-color: #000000;
    font-family: 'Merriweather', serif;
}

.header {
    @include breakpoint(small) {
         @include grid-column(6);
        display: none;
    }
    @include breakpoint(large) {
         @include grid-column(4);
        display: block;
        text-align: left;
        display: block;
        margin: 10px 0;
        color: #ffffff;
    }
}

 md-nav-bar .md-button._md-nav-button.md-unselected {
    color: #ffffff;
}

#header-logo {
    @include breakpoint(small) {
         @include grid-column(2);
        color: #ffffff;
        margin: 0;
    }
    @include breakpoint(large) {
        display: none;
    }
}

.menu {
    display: none;
    @include breakpoint(medium) {
         @include grid-column(8);
         display: block;
    }
    @include breakpoint(large) {
         @include grid-column(4);
         display: block;
    }
}

.mobile-menu {
    @include breakpoint(small) {
         @include grid-column(10);
        text-align: right;
    }
    @include breakpoint(medium) {
        display: none;
    }
}

.social {
    display: none;
    @include breakpoint(large) {
         @include grid-column(4);
        text-align: right;
        display: block;
        margin-top: 15px;
    }
}

#home {
    @include breakpoint(small) {
         @include grid-column(12);
        text-align: center;
        background-color: #808080;
        color: #ffffff;
        font-size: 1.5em;
        height: 100vh;
    }
}

#dyno {
    @include breakpoint(small) {
         @include grid-column(12) background-color: #808080;
    }

    ul {
        list-style: none;
    }
}

#summary {
    @include breakpoint(small) {
        margin: 20px;
    }
}

footer {
    @include breakpoint(small) {
         @include grid-column(12);
        text-align: center;
        font-size: 0.6em;
    }
    @include breakpoint(medium) {
        text-align: center;
        font-size: 1em;
    }
}

main {
    /* start 'enter' transition */
    &.ng-enter {
        transition: 0.9s;
        opacity: 0;
    }
    /* end 'enter' transition */
    &.ng-enter-active {
        opacity: 1;
    }
}
