/* Include Foundation */
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: grey;
    font-family: 'Merriweather', serif;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
        
        h2 {
        font-size: 0.9em;
        text-align: center;
        display: inline-block;
        }
    
    nav {
        background-color: darkgrey;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 1;

            .name {
                text-align: left;
                grid-column: 1;
                grid-row: 1;
                margin: 0;
            }

            .menu{
                grid-column: 2;
                grid-row: 1;
                text-align: center;
                margin: auto 0;
            }
            .social{
                grid-column: 3;
                grid-row: 1;
                text-align: right
            }
            .menu-list{
                text-decoration: none;
                justify-content: center;
            }
    }
    
 
}

#home {
    height: 100vh;
    text-align: center;
    p {
        font-size: 2em;
        margin: 0;
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;

    a:link {
    text-decoration: none;
    }
}