/* Include Foundation */
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$small_screen: 600px;
$med_screen: 700px;

body {
    background-color: grey;
    font-family: 'Merriweather', serif;
}

.header {
    @include grid-column(6);
    font-size: 1.7em;
    text-align: left;
    padding-left: 10px;
    display: block;
    margin: 0;
    padding: 10px 10px;
    @include breakpoint(large) {
        @include grid-column(4);
        text-align: left;
        display: block;
        margin: 10px 0;
    }
}
.menu {
    display: none;
    @include breakpoint(large) {
        @include grid-column(4);
        text-align: center;
        display: block;
    }

}

.mobile-menu {
    @include grid-column(6);
    text-align: right;
    @include breakpoint(medium) {
        display: none;
    }
}

.social {
    display: none;
    @include breakpoint(large) {
        @include grid-column(4);
        text-align: right;
        display: block;
    }

}

#home {
  @include breakpoint(small) {
    @include grid-column(12);
    text-align: center;
  }
}

footer {
    @include breakpoint(small) {
      @include grid-column(12);
        text-align: center;
        font-size: .6em;
    }
    @include breakpoint(medium) {
        text-align: center;
        font-size: 1em;
    }
}
main {
    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: .9s;

        /* start with opacity 0 (invisible) */
        opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}
//transition animation
// .scrolled {
//   transition: transform $duration ease;
//   transform: translate3d(0, 0, 0);
//   &.ng-enter {
//     transform: translate3d(100%, 0, 0);  // Move to the right (up to 100% of width)
//   }
//   &.ng-enter-active {
//     transform: translate3d(0, 0, 0);
//   }
//   &.ng-leave {
//     transform: translate3d(0, 0, 0);
//   }
//   &.ng-leave-active {
//     transform: translate3d(-100%, 0, 0);
//   }
// }

// //transition animation for going back
// .backward {
//   .scrolled {
//     &.ng-enter {
//         transform: translate3d(-100%, 0, 0);
//     }
//     &.ng-enter-active {
//         transform: translate3d(0, 0, 0);
//     }
//     &.ng-leave {
//         transform: translate3d(0, 0, 0);
//     }
//     &.ng-leave-active {
//         transform: translate3d(100%, 0, 0);
//     }
//   }
// }
