<section id="checklist">
            <h3>Pre-dyno Checklist</h3>

            <h3>Fuel:</h3>
            <ul>
                <li><input type="checkbox"> You should have fresh fuel</li>
                <li><input type="checkbox"> Make sure you have enought fuel</li>
                <li><input type="checkbox"> Fuel pump is operating properly</li>
                <li><input type="checkbox"> Fuel pump is proper size</li>
                <li><input type="checkbox"> Fuel filter(s) is/are flowing properly</li>
                <li><input type="checkbox"> Fuel injectors should be sized for your power goals</li>
                <li><input type="checkbox"> Fuel pressure gauge is recommended</li>
                <li><input type="checkbox"> Make sure you don't have any fuel leaks</li>
            </ul>
            <ul>
                <h3>Mechanical:</h3>
                <li><input type="checkbox"> Check for proper oil level</li>
                <li><input type="checkbox"> Check for proper coolant level</li>
                <li><input type="checkbox"> Check for proper compression</li>
                <li><input type="checkbox"> Check valve lash</li>
                <li><input type="checkbox"> Timing belt should be within specs</li>
                <li><input type="checkbox"> Check ignition timing</li>
                <li><input type="checkbox"> Make sure your clutch is not slipping</li>
                <li><input type="checkbox"> Check for vacuum leaks</li>
            </ul>
            <ul>
                <h3>Electrical:</h3>
                <li><input type="checkbox"> Check all Connections</li>
                <li><input type="checkbox"> Check for damaged Cables/wires</li>
                <li><input type="checkbox"> Check grounds</li>
                <li><input type="checkbox"> Check that alternator is within specs</li>
                <li><input type="checkbox"> Ignition wires should be OEM quality or better</li>
                <li><input type="checkbox"> check distributor, cap and rotor/ coil packs for proper operation</li>
            </ul>
            <ul>
                <h3><input type="checkbox"> Turbo Systems:</h3>
                <li><input type="checkbox"> Check for shaft play</li>
                <li><input type="checkbox"> Check oil lines are properly installed</li>
                <li><input type="checkbox"> Check that all pipes and clamps are torqued to spec</li>
                <li><input type="checkbox"> Check for leaks</li>
                <li><input type="checkbox"> Check wastegate spring pressure</li>
            </ul>
            <ul>
                <h3>Exhaust:</h3>
                <li><input type="checkbox"> Make sure O2 sensor can be removed (necessary for dyno wideband readout)</li>
                <li><input type="checkbox"> Exhaust should be properly sized for power output goals</li>
                <li><input type="checkbox"> Catalytic converters are not recommended for race car (not street legal)</li>
            </ul>
            <section>
                <h3>Summary:</h3>
                <p>This checklist is not definitive, this is just the bare minimum that should be looked at. This checklist will help minimize time and money spent on troubleshooting during your tuning session. If vehicle is not ready during tuning session, we may not be able to complete your tune in one session. Appointments cut short due to vehicle not being properly prepped will result in a loss of deposit and any other fees acquired. Our labor rates apply for time spent troubleshooting. There will be a $50 clean up fee for any leaks on the dyno.</p>
            </section>

            <section>
                <p>Cost of Tunes</p>
                <p>Crome(Gold) All Motor: $250/ Forced Induction: $350</p>
                <p>Cobb All Motor: $350/ Forced Induction: $450</p>
                <p>Hondata All Motor: $350/ Forced Induction: $450</p>
                <p>AEM All Motor: $400/ Forced Induction: $500</p>
                <p>Halltech All Motor: $400/ Forced Induction $500</p>
            </section>